.containerDropDownList{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 20px 0;
    align-self: center;
    justify-content: center;
    align-items: center;
}
.rowContainDropDownList{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 96, 96, 1);
    border-radius: 5px;
    
}
.titleDropDownList{
    color: white    ;
    margin: 15px 20px;
    font-size: 22px;
}

.chevronDropDonwList{
    height:25px;
    object-fit: contain;
    width:25px;
    margin: 15px 20px;
}

.containerContentDropDownList{
    background-color: rgba(246, 246, 246, 1);
    width: 100%;
}

.contentDropDownList{
    color:rgba(255, 96, 96, 1);
    font-size: 22px;
    padding:0 20px;
}