.footer_container {
  display: flex;
  align-self: flex-end;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 180px;
  background-color: black;
}
.footer_logo {
  min-width: 40px;
}
.footer_texte {
  color: white;
  margin-top: 30px;
}

@media (max-width: 768px) {
  .footer_texte {
    font-size: 12px;
  }
  /* Styles pour les appareils mobiles */
}
@media (min-width: 768px) {
  .footer_texte {
    font-size: 18px;
  }
}
